<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <link rel="stylesheet" href="/styles/chat.css">
</head>

<body>
  <!-- nick -->
  <section class="sec-left">
    <form id="nick-form">
      <input type="text" name="" id="nick-input" data-testid="nickname-box" placeholder="nickname">
      <button id="nick-save-btn" data-testid="nickname-button">Save</button>
    </form>
    <ul id='users-list'></ul>
  </section>
  <section class="sec-right">
    <ul id="chat-messages">
      <% messages.forEach((msg)=> {%>
        <li data-testid="message">
          <%= msg %>
        </li>
        <%})%>
    </ul>
    <!-- chat -->
    <form id="message-form">
      <span data-testid="online-user" id="user-nick-span"></span>
      <input type="text" id="message-input" data-testid="message-box" placeholder="message">
      <button data-testid="send-button" id="send-btn">Send</button>
    </form>
  </section>
  <!-- userList -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="scripts/chat.js"></script>
</body>

</html>